.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
#portfolio {
  margin-top: 5rem;
}
.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio_item-image {
  border-radius: 0.8rem;
  overflow: hidden;
}
.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
  font-size: 16px;
}
.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*==========media Qurrry===(large Device)=========*/
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr !important;
    gap: 1.2rem;
  }
}

/*==========media Qurrry===(small Device)=========*/
@media screen and (max-width: 500px) {
  .portfolio_container {
    grid-template-columns: 1fr !important;
    gap: 0;
  }
  .portfolio_item {
    padding: 0.7rem;
    margin-top: 1rem;
  }
}
