.container .contact_container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 4%;
}
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contact {
  margin-top: 5rem;
}
.contact_option {
  background: var(--color-bg-variant);
  padding: 0.8rem 0;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact_option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
}
#h4 {
  font-size: 1.2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}
#h5 {
  font-size: 1rem;
}

/*==========media Qurrry===(small Device)=========*/
@media screen and (max-width: 1024px) {
  #inp {
    margin-top: 1rem;
  }
}

/*==========media Qurrry===(small Device)=========*/
@media screen and (max-width: 600px) {
}
